<tr>
  <td><%= link_to exam.subject.name, exam %></td>
  <td><%= exam.status %></td>
  <td><%= Settings.duration %></td>
  <td><%= exam.spent_time %></td>
  <td><%= exam.score %></td>
  <td><%= exam.created_at %></td>
</tr>
